doctype html
html(lang="en")
head
  title Sandbox
body
  header
    h1 Random Sandbox!
  section#content
    h2 Table of Names:
    table(style="width:50%")
      col(width="100")
      col(width="100")
      tr
        th First Name

        th Last Name

      each name in names
        tr
          if name.First
            td= name.First
          else
            td First Name Not Given
          if name.Last
            td= name.Last
          else
            td Last Name Not Given
